/* Define estilos específicos para a classe .page */
.page {
    font-family: 'Inter', Arial, sans-serif;
    /* Fonte para .page */
    font-size: 16px;
    line-height: 20px;
    min-width: 1100px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}